.tiptap p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.tiptap p:first-child {
  margin-top: 0;
}

.tiptap p:last-child {
  margin-bottom: 0;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-weight: 700;
}

.tiptap h1,
.tiptap h2,
.tiptap h3 {
  margin-top: 2rem;
}

.tiptap h1:first-child,
.tiptap h2:first-child,
.tiptap h3:first-child {
  margin-top: 0;
}

.tiptap h1:last-child,
.tiptap h2:last-child,
.tiptap h3:last-child {
  margin-bottom: 0;
}

.tiptap h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.tiptap h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tiptap h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tiptap a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
  text-decoration: underline;
}
.tiptap a:hover {
  cursor: pointer;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol,
.tiptap ul {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  padding: 0 2.75rem;
}

.tiptap ol:first-child,
.tiptap ul:first-child {
  margin-top: 0;
}

.tiptap ol:last-child,
.tiptap ul:last-child {
  margin-bottom: 0;
}

.tiptap ol li,
.tiptap ol ol,
.tiptap ol ul,
.tiptap ul li,
.tiptap ul ol,
.tiptap ul ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tiptap ol p,
.tiptap ul p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.tiptap img {
  /* height: auto;
  width: 100%; */
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tiptap img.ProseMirror-selectednode {
  outline: 2px solid rgb(71 85 105);
}

.tiptap .selection,
.tiptap ::selection {
  display: inline;
  background-color: rgba(0, 0, 0, 0.1);
}

.tiptap mark {
  border-radius: 0.125rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.25rem 0;
  color: inherit;
}
